* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family:l;
    src: url(COMM\ -\ Lyon\ Arabic\ Text\ RegularNo2.otf);
  }

  @font-face {
    font-family:r;
    src: url(COMM\ -\ Lyon\ Arabic\ Text\ Regular.otf);
  }

  @font-face {
    font-family:b;
    src: url(COMM\ -\ Lyon\ Arabic\ Text\ Bold.otf);
  }

  @font-face {
    font-family:bb;
    src: url(/COMM\ -\ Lyon\ Arabic\ Text\ Black.otf);
  }



.body {
    background-color: hsla(273, 47%, 26%, 0.75);
}

h2 {
    color: #fff;
    text-align: center;
    padding-top: 50px;
    font-family: bb;
}

.two {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.three {
    padding: 30px 0px;
    display: flex;
    justify-content: center;
}

.four {
    margin-top: 20px;
    text-align: center;
}

canvas {
    width: 85%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
}

input {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
    border-radius: 10px;
    width: 300px;
    height:40px;
    padding: 0px 10px;
    text-align: right;
    background: #fff;
    border: 2px solid #06283D;
    color: hsla(273, 47%, 26%, 0.75);
    font-size: 30px;
    font-family: b;
}

#download-btn {
    background-color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 22px;
    border-radius: 10px;
    color:#462362;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: b;

}

footer {
    margin-top: 30px;
    text-align: center;
}

footer h1 {
    color: rgb(255, 255, 255);
    font-size: 5vw;
    font-family: bb;
}

img {
    width: 110px;
    margin-right: 10px;
}

i {
    color: #fff;
    margin-top: 5px;
    padding: 0px 20px;
    font-size: 36px;
}